# Ignore everything
*
# Except:
!README.md
!LICENSE
!*.ipynb
*checkpoint.ipynb
*test*.ipynb
!*.py
!requirements.txt
!.gitignore
!*example*
# Don't ignore subfolders, unless they contain "venv" in their name
!*/
*venv*